@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

::selection {
    background-color: #a70909;
    color: white;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: absolute;
    /* makes sure its on top */
    z-index: 1;
    /* stays in place */
    overflow-x: hidden;
    top: 0;
    right: 0;
    background-color: #27171787;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 8px 8px 40px;
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: #d38e8e;
    display: block;
    transition: 0.3s;
    font-family: "Sofia Sans Condensed", sans-serif;

}

.sidenav a:hover {
    color: #fff;
    text-shadow: 0px 0px 40px #a70909;
}

.navicon {
    position: absolute;
    right: 60px;
    top: 60px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.5s;
}

#navicon {
    transition: right 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.main {
    height: 100vh;
    padding: 0px 60px 0px 60px;
    background-size: cover;
    background-image: url('images/banner.jpg');
}

.cta {
    position: absolute;
    width: clamp(200px, 35vw, 350px);
    bottom: 20%;
    left: 10%;
}

.ctalogo {
    height: auto;
    width: 100%;
    max-width: 320px;
    min-width: 180px;
    margin-bottom: 20px;
}

.ctabutton {
    background-color: #a70909;
    color: white;
    width: 100%;
    padding: clamp(10px, 1.8vw, 16px) clamp(20px, 3vw, 50px);
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1.2rem, 1.6vw, 1.8rem);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif;
    transition: 0.3s ease-in-out;
}

.ctabutton:hover {
    background-color: #c02222;
    box-shadow: 0px 0px 20px #a70909;
    transition: 0.3s ease-in-out;
}

.footerlogo {
    height:auto;
    width: 50%;
    max-width: 200px;
    min-width: 120px;
    margin-bottom: 3px;
}

footer {
    background-color: black;
    color: #797979;
    text-align: center;
    padding: 10px 30% 10px 30%;
}

footer p {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    /* to make the elements touch each other becuase i want it that way :} */
    margin: 0;
    padding: 0;
}

/* ================== ARTISTS SECTION ================== */

#artists {
    background-color: black;
    padding: 50px 0 150px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

/* let me try this */
.title p::before {
    /* empty content so it will show up */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #a70909;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    /* translate x y z */
    bottom: -9px;

}

.title p {
    font-family: "Rock Salt", cursive;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    color: white;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 clamp(20px, 1vw, 40px);
}

.artistpic {
    width: clamp(60px, 14vw, 190px);
    box-shadow: 0px 0px 50px #ffffff3d;
    transition: 0.3s ease-in-out;
}

.artistpic:hover {
    box-shadow: 0px 0px 80px #ffffff58;
    transition: 0.3s ease-in-out;
}

.artistname {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 600;
    color: white;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.artistrole {
    font-family: "Rock Salt", cursive;
    color: #969696;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

ul {
    list-style-type: none;
    padding: clamp(10px, 1.8vw, 20px);
}

.memberrow {
    display: flex;
    justify-content: center;
}

.banddesc {
    font-family: "Sofia Sans Condensed", sans-serif;
    color: #b4b4b4;
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    text-align: center;
    font-style:italic;
}

.members {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 250px 50px 250px;
}

/* ================== LISTEN SECTION ================== */
#listen {
    background-color: #000;
    padding: 0px 0px 100px 0px;
}

.listenheader {
    font-family: "Rock Salt", cursive;
    color: white;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
    padding: 50px 0 20px 0;
}

.albumsongs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0px;
}

.album {
    display: block;
    width: clamp(200px, 25vw, 400px);
    transition: 0.3s ease-in-out;
    margin: 0 0;
}

.album:hover {
        box-shadow: 0px 0px 50px #ffffff3d;
        transition: 0.3s ease-in-out;
}

.songsL {
    font-family: "Mynerve", cursive;
    color: #717171;
    font-size: clamp(0.8rem, 1.5vw, 1.3rem);
    text-align: right;
    margin: 0;
    list-style-type: none;
    line-height: clamp(1.6rem, 2.5vw, 2.3rem);
}

.songsR {
    font-family: "Mynerve", cursive;
    color: #717171;
    font-size: clamp(0.8rem, 1.5vw, 1.3rem);
    text-align: left;
    margin: 0;
    list-style-type: none;
    line-height: clamp(1.6rem, 2.5vw, 2.3rem);
}

.divider {
    width: 5%;
    background-color: #303030;
    height: 5px;
    border-radius: 2px;
    margin: 30px auto 50px auto;
}

.listenon {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: #fff;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    margin-top: 0;
}

.streamicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 5vw, 50px);
    margin-top: 20px;
}

.listenicon {
    width: clamp(20px, 4vw, 60px);
    transition: 0.3s ease-in-out;
}

.spotify {
    fill: #797979;
}

.spotify:hover {
    fill: #1DB954;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #03752b);
}

.applemusic {
    fill: #797979;
}

.applemusic:hover {
    fill: #fff;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #949494);
}

.youtube {
    fill: #797979;
}

.youtube:hover {
    fill: #ff2424;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #a40101);
}

/* ================== TICKETS SECTION ================== */
#tickets {
    background-image:url('images/ticketsbackground.png');
    padding: 50px 0 100px 0;
    background-size: cover;
}

.ticketh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

/* let me try this */
.ticketh p::before {
    /* empty content so it will show up */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #000000;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    /* translate x y z */
    bottom: -9px;

}

.ticketh p {
    font-family: "Rock Salt", cursive;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    color: white;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 clamp(20px, 1vw, 40px);
}

.ticketcontainer {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: clamp(50px, 10vw, 150px);
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 0.5%;
}

.buyticket {
    background-color: #a70909;
    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border-radius: 1px;
    border: none;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif;
    transition: 0.3s ease-in-out;
    margin: 0;
    width: clamp(100px, 15vw, 150px);
}

.buyticket:hover {
    background-color: #c02222;
    box-shadow: 0px 0px 10px #a70909;
    transition: 0.3s ease-in-out;
}

.dateloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Sofia Sans Condensed", sans-serif;
    gap: 7px;
    font-style: italic;
}

.date {
    color: #a70909;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 0;
}

.location {
    color: #797979;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0;
}

.soldout {
    background-color: #797979;
    color: #000;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border-radius: 1px;
    border: none;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif;
    transition: 0.3s ease-in-out;
    margin: 0;
    width: clamp(100px, 15vw, 150px);
    font-weight: 600;
    cursor: default;
}

.soldout:hover {
    cursor: default;
}

html {
    /* for the smooth scrolling effect when i click on a button */
    scroll-behavior: smooth;
    background-color:black;
}

/* ================== PURCHASE PAGE ================== */
.pbanner {
    height: 100vh;
    padding: 0px 60px 0px 60px;
    background-size: cover;
    background-image: url('images/purchasebanner.png');
}

#dt, #loc {
    font-family: "Sofia Sans Condensed", sans-serif;
    color: #b4b4b4;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: italic;
}

.datetime, .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.dtl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.dtl img {
    width: clamp(20px, 3vw, 40px);
    height: clamp(20px, 3vw, 40px);
    object-fit: contain; 
}

.formcontainer {
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
}

.inputs {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 5px;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    font-family: "Sofia Sans Condensed", sans-serif;
    color: #fff;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-style: italic;
    margin-bottom: 5px;
}

input {
    outline: none;
    border: 2px solid #696969;
    border-radius: 5px;
    background-color: #1f1f1f;
    height: 7vh;
    padding: 0 10px;
    color: #fff;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    transition: 0.3s ease-in-out;
}

input:focus {
    border: 2px solid #a70909;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #a70909;
}

.buy {
    background-color: #a70909;
    color: #fff;
    border: none;
    height: 7vh;
    padding: 12px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.buy:hover {
    background-color: #d02222;
    box-shadow: 0px 0px 10px #a70909;
    transition: 0.3s ease-in-out;
}

.summary {
    flex: 1;
    background-color: #2b0c0c;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    font-family: 'sofia sans condensed', sans-serif;
}

.summary h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFBCBC;
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
}

.summary p {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.summary hr {
    border: 0.5px solid #FFBCBC;
    margin: 15px 0;
}

.summarydesc {
    font-style: italic;
    font-size: 1.1rem;
    color: #CF5151;
}

.summarymain {
    font-size: 1.1rem;
    color: #FFBCBC;
}

.payment {
    font-style: italic;
    font-size: 0.9rem;
}

.total {
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFBCBC;
}

/* ================== MOBILE RESPONSIVE ================== */
/* smaller than 768px */
@media screen and (max-width: 768px) {

    .sidenav {
        height: 60vh;
    }

    .main, .pbanner {
        padding: 0px 20px 0px 20px;
        height: 65vh;
        background-position: center;
    }

    .cta {
        width: clamp(150px, 50vw, 300px);
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .ctalogo {
        max-width: 250px;
    }

    .ctabutton {
        font-size: clamp(1rem, 3vw, 1.5rem);
        max-width: 250px;
    }

    .members {
        padding: 0 20px 50px 20px;
    }

    .memberrow {
        flex-wrap: wrap;
    }

    .albumsongs {
        gap: 10px;
    }

    .divider {
        height: 3px;
    }

    .listenon {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }

    .listenicon {
        width: clamp(30px, 8vw, 50px);
    }

    .songsL, .songsR {
        font-size: clamp(0.7rem, 2.5vw, 1.2rem);
    }

    .formcontainer {
        flex-direction: column;
        width: 95%;
        padding: 10px;
    }

    .row {
        flex-direction: row;
    }

    .ticketcontainer {
        flex-direction: column;
        gap: 5px;
        width: 95%;
        margin-bottom: 20px;
    }

    .buyticket, .soldout {
        width: 100%;
        padding: clamp(10px, 2vw, 15px) 0;
        font-size: clamp(1rem, 3vw, 1.5rem);
    }

    footer {
        padding: 10px 5%;
    }
}



/* below is to remove the arrows in number input fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}