@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

::selection {
    background-color: #a70909;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    /* makes sure its on top */
    z-index: 1;
    /* stays in place */
    overflow-x: hidden;
    top: 0;
    right: 0;
    background-color: #27171787;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 8px 8px 40px;
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: #d38e8e;
    display: block;
    transition: 0.3s;
    font-family: "Sofia Sans Condensed", sans-serif;

}

.sidenav a:hover {
    color: #fff;
    text-shadow: 0px 0px 40px #a70909;
}

.navicon {
    position: absolute;
    right: 60px;
    top: 60px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.5s;
}

#navicon {
    transition: right 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.main {
    height: 100vh;
    padding: 0px 60px 0px 60px;
    background-size: cover;
    background-image: url('images/banner.jpg');
}

.cta {
    position: absolute;
    width: clamp(200px, 35vw, 350px);
    bottom: 20%;
    left: 10%;
}

.ctalogo {
    height: auto;
    width: 100%;
    max-width: 320px;
    min-width: 180px;
    margin-bottom: 20px;
}

.ctabutton {
    background-color: #a70909;
    color: white;
    width: 100%;
    padding: clamp(10px, 1.8vw, 16px) clamp(20px, 3vw, 50px);
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif;
    transition: 0.3s ease-in-out;
}

.ctabutton:hover {
    background-color: #c02222;
    box-shadow: 0px 0px 20px #a70909;
    transition: 0.3s ease-in-out;
}

.footerlogo {
    height:auto;
    width: 50%;
    max-width: 200px;
    min-width: 120px;
    margin-bottom: 3px;
}

footer {
    background-color: black;
    color: #797979;
    text-align: center;
    padding: 10px 30% 10px 30%;
}

footer p {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    /* to make the elements touch each other becuase i want it that way :} */
    margin: 0;
    padding: 0;
}

/* ================== ARTISTS SECTION ================== */

#artists {
    background-color: black;
    padding: 50px 0 150px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

/* let me try this */
.title p::before {
    /* empty content so it will show up */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #a70909;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    /* translate x y z */
    bottom: -9px;

}

.title p {
    font-family: "Rock Salt", cursive;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    color: white;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 clamp(20px, 1vw, 40px);
}

.artistpic {
    width: clamp(60px, 14vw, 190px);
    box-shadow: 0px 0px 50px #ffffff3d;
    transition: 0.3s ease-in-out;
}

.artistpic:hover {
    box-shadow: 0px 0px 80px #ffffff58;
    transition: 0.3s ease-in-out;
}

.artistname {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 600;
    color: white;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.artistrole {
    font-family: "Rock Salt", cursive;
    color: #969696;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

ul {
    list-style-type: none;
    padding: clamp(10px, 1.8vw, 20px);
}

.memberrow {
    display: flex;
    justify-content: center;
}

.banddesc {
    font-family: "Sofia Sans Condensed", sans-serif;
    color: #b4b4b4;
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    text-align: center;
    font-style:italic;
}

.members {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 250px 50px 250px;
}

/* ================== LISTEN SECTION ================== */
#listen {
    background-color: #000;
    padding: 0px 0px 100px 0px;
}

.listenheader {
    font-family: "Rock Salt", cursive;
    color: white;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
    padding: 50px 0 20px 0;
}

.albumsongs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0px;
}

.album {
    display: block;
    width: clamp(200px, 25vw, 400px);
    transition: 0.3s ease-in-out;
    margin: 0 0;
}

.album:hover {
        box-shadow: 0px 0px 50px #ffffff3d;
        transition: 0.3s ease-in-out;
}

.songsL {
    font-family: "Mynerve", cursive;
    color: #717171;
    font-size: clamp(0.8rem, 1.5vw, 1.3rem);
    text-align: right;
    margin: 0;
    list-style-type: none;
    line-height: clamp(1.6rem, 2.5vw, 2.3rem);
}

.songsR {
    font-family: "Mynerve", cursive;
    color: #717171;
    font-size: clamp(0.8rem, 1.5vw, 1.3rem);
    text-align: left;
    margin: 0;
    list-style-type: none;
    line-height: clamp(1.6rem, 2.5vw, 2.3rem);
}

.divider {
    width: 5%;
    background-color: #303030;
    height: 5px;
    border-radius: 2px;
    margin: 30px auto 50px auto;
}

.listenon {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: #fff;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    margin-top: 0;
}

.streamicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 5vw, 50px);
    margin-top: 20px;
}

.listenicon {
    width: clamp(20px, 4vw, 60px);
    transition: 0.3s ease-in-out;
}

.spotify {
    fill: #797979;
}

.spotify:hover {
    fill: #1DB954;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #068532);
}

.applemusic {
    fill: #797979;
}

.applemusic:hover {
    fill: #fff;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #949494);
}

.youtube {
    fill: #797979;
}

.youtube:hover {
    fill: #ff2424;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #a40101);
}

html {
    /* for the smooth scrolling effect when i click on a button */
    scroll-behavior: smooth;
    background-color:darkgrey;
}