.container {
    display:inline-block;
    cursor: pointer;
}

/* PMO BRUH LET ME PUSH IT TO THE RIGHT */

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.main {
    width: 100%;
    padding: 0px 60px 0px 60px;
    background-size: cover;
    background-image: url('images/banner.jpg');
}