@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    /* makes sure its on top */
    z-index: 1;
    /* stays in place */
    overflow-x: hidden;
    top: 0;
    right: 0;
    background-color: #231b1b87;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #d1c6c6;
    display: block;
    transition: 0.3s;
    font-family: "Sofia Sans Condensed", sans-serif;

}

.sidenav a:hover {
    color: #a70909;
}

.container {
    position: absolute;
    right: 60px;
    top: 30px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}

#navicon {
    transition: right 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.main {
    height: 100vh;
    padding: 0px 60px 0px 60px;
    background-size: cover;
    background-image: url('images/banner.jpg');
}

.cta {
    position: absolute;
    width: clamp(200px, 35vw, 350px);
    bottom: 20%;
    left: 10%;
}

.ctalogo {
    height: auto;
    width: 100%;
    max-width: 320px;
    min-width: 180px;
    margin-bottom: 20px;
}

.ctabutton {
    background-color: #a70909;
    color: white;
    width: 100%;
    padding: clamp(10px, 1.8vw, 16px) clamp(20px, 3vw, 50px);
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif;
}